*{
	margin:0;
	padding:0;
}
/* html5 block */
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
h1,h2,h3,h4,h5,h6{
	font-family:Courier;
}
html,body{
	height:100%;
	width:100%;
	background:#EEE;
}
div#wrapper{
	font-family:Verdana Sans-Serif Arial;
}
header{
	position:relative;
	height:185px;
	width:100%;
	background:white;
}
main{
	min-height:650px;
}
aside{
	float:left;
	width:300px;
	min-height:650px;
	border-right:1px dotted white;
}

footer{
	clear:both;
	background:black;
	width:100%;
	height:325px;
	color:white;

}
